# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store

# Config files
config.yaml
.env
!.env.example
!example.env

# Output directory
output/ .jirassicpack_cli_state.json
output/
jirassicpack.log
