Flask
aiohttp>=3.9.0
requests
loguru
psutil
mdutils
marshmallow
questionary
python-dotenv
tabulate
pyfiglet
colorama
openai
PyGithub
PyYAML
python-json-logger
inquirerpy
rich
httpx
jiter
pydantic
markdown-it-py
pygments
InquirerPy
pfzy 